* {
  margin: 0;
}
body {
  background: #b93939;
  text-align: center;
  border: 2px solid white;
}
.upperSection {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 50%;
  background: #1623b4;
  border: 2px solid white;
}
.showTaskList {
  background: #dcc2c2;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: auto;
  width: 50%;
  border: 2px solid white;
}
.btnSection{
    background: #4eb15a;
    display: flex;
    flex-direction: row;
    padding: 4px;
    align-items: center;
    justify-content: center;
    margin: auto;
    border: 2px solid white;
}

